<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
</head>
<body class="body">
	<header>
		<h1>Syllogisms</h1>
	</header>
<main>

	<label for="major-premise">Major Premise Proposition Type:</label>
	<select class="major-premise" name="major-premise" required="true">
		<option selected="major-premise" disabled="true" hidden="true" value="">Select...</option>
		<option value="A">A</option>
		<option value="B">B</option>
		<option value="C">C</option>
		<option value="D">D</option>
	</select>
	
	<br/>
	
	<label for="minor-premise">Minor Premise Proposition Type:</label>
	<select class="minor-premise" name="minor-premise" required="true">
		<option selected="minor-premise" disabled="true" hidden="true" value="">Select...</option>
		<option value="A">A</option>
		<option value="B">B</option>
		<option value="C">C</option>
		<option value="D">D</option>
	</select>	
	
	<br/>
	
	<label for="conclusion">Conclusion Proposition Type:</label>
	<select class="conclusion" name="conclusion" required="true">
		<option selected="conclusion" disabled="true" hidden="true" value="">Select...</option>
		<option value="A">A</option>
		<option value="B">B</option>
		<option value="C">C</option>
		<option value="D">D</option>
	</select>
	
	<br/>
	
	<label for="figure">Figure:</label>
	<select class="figure" name="figure" required="true">
		<option selected="figure" disabled="true" hidden="true" value="">Select...</option>
		<option value="A">1</option>
		<option value="B">2</option>
		<option value="C">3</option>
		<option value="D">4</option>
	</select>
	
	<br/>
	
	<form action="#" th:action="@{/add-syllogism}" th:object="">
	<button>Create Syllogism</button>
	</form>
	
</main>	
</body>
</html>