<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body class="body">
	<header>
		<h1>Syllogisms</h1>
	</header>
<main>
<form action="/add-syllogism">

	<label for="major-premise">Major Premise Proposition Type:</label>
	<select class="major-premise" name="majorPremiseInput" required="true">
		<option selected="major-premise" disabled="true" hidden="true" value="">Select...</option>
		<option value="A">A</option>
		<option value="E">E</option>
		<option value="I">I</option>
		<option value="O">O</option>
	</select>

	<br/>

	<label for="minor-premise">Minor Premise Proposition Type:</label>
	<select class="minor-premise" name="minorPremiseInput" required="true">
		<option selected="minor-premise" disabled="true" hidden="true" value="">Select...</option>
		<option value="A">A</option>
		<option value="E">E</option>
		<option value="I">I</option>
		<option value="O">O</option>
	</select>

	<br/>

	<label for="conclusion">Conclusion Proposition Type:</label>
	<select class="conclusion" name="conclusionInput" required="true">
		<option selected="conclusion" disabled="true" hidden="true" value="">Select...</option>
		<option value="A">A</option>
		<option value="E">E</option>
		<option value="I">I</option>
		<option value="O">O</option>
	</select>

	<br/>

	<label for="figure">Figure:</label>
	<select class="figure" name="figure" required="true">
		<option selected="figure" disabled="true" hidden="true" value="">Select...</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
	
	<br/>
	
	<input type="submit"></input>

</form>

<div id="container">	
	<div th:each="fiveRules : ${fiveRulesRepo}">
		<p th:text="${fiveRules.FiveRulesSyllogismName}"></p>
		<p th:text="${fiveRules.Rule1}"></p>
		<p th:text="${fiveRules.Rule2}"></p>
		<p th:text="${fiveRules.Rule3}"></p>
		<p th:text="${fiveRules.Rule4}"></p>
		<p th:text="${fiveRules.Rule5}"></p>
	</div>
</div>	

	<br/>



</main>

</body>
</html>
